@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  min-height: 5rem;
  overflow: hidden;
}

.navbar .navbar-nav {
  text-align: right;
}

.navbar .navbar-toggler {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}

.nav-item {
  padding-left: 1.2rem;
}

.active > .nav-link {
  color: #8f8f8f !important;
}

.nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  color: #151515;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-item .nav-link:hover {
  color: #8f8f8f;
}

.navbar-brand img {
  padding-top: .75rem;
  height: 3.5rem;
  width: 15rem;
}

.circle-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #8f8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: .75rem;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.circle-icon:hover {
  background: #151515;
}

.carousel {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.carousel .carousel-inner .carousel-item {
  max-height: calc(100vh - 5rem);
  overflow: hidden;
}

.control {
  height: 5rem;
  width: 10rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.control a {
  color: #eee;
  font-size: 2rem;
}

.control a:hover {
  color: #fff;
  text-decoration: none;
}

.control a .control-block-left {
  height: 5rem;
  width: 5rem;
  background: rgba(143, 143, 143, 0.5);
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .5rem;
}

.control a .control-block-right {
  height: 5rem;
  width: 5rem;
  background: rgba(21, 21, 21, 0.5);
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .5rem;
}

ol.carousel-indicators {
  padding-bottom: 1.5rem;
}

ol.carousel-indicators li {
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  background: none;
  border: 1px solid #8f8f8f;
  margin-left: .25rem;
  margin-right: .25rem;
}

ol.carousel-indicators li.active {
  background: #eee;
}

.info {
  position: absolute;
  top: 35%;
  left: 35%;
  -webkit-transform: translate(-35%, -35%);
          transform: translate(-35%, -35%);
  z-index: 1;
  color: white;
  width: 40rem;
}

.info h1 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.05rem;
  font-size: 3rem;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.info p {
  font-weight: 200;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.info .btn-outline-light {
  border-radius: 25px;
  font-size: .5rem;
  text-transform: uppercase;
  padding: .75rem 1.5rem;
  letter-spacing: .1rem;
}

.steps .step {
  padding: 1.5rem;
  width: 350rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps .step:nth-child(1) {
  background: none;
}

.steps .step .stepHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps .step .stepHeader h3 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.05rem;
}

.steps .step .stepHeader div {
  font-size: 1.5rem;
}

.steps .step .stepHeader div i.fas {
  font-size: 1rem;
  margin-left: .25rem;
}

.steps .step h1 {
  color: rgba(0, 0, 0, 0.1);
}

.steps p {
  font-weight: 200;
  font-size: .9rem;
}

.steps a {
  color: #8f8f8f;
}

.steps a:hover {
  color: #151515;
  text-decoration: none;
}

.steps a i.fas .fa-long-arrow-alt-right {
  font-size: 15px;
  text-align: center;
}

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
  padding: 8rem 0;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.fixed-background h1 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.05rem;
  text-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
}

.fixed-background p {
  font-weight: 200;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.fixed-background .fixed-wrap {
  clip: rect(0, auto, auto, 0) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.fixed-background .fixed-wrap .fixed {
  z-index: -999 !important;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  background-image: url("../img/wardrobe.png");
  position: fixed;
  background-repeat: repeat-y !important;
}

#projects h1 {
  font-family: "DM Serif Display", serif !important;
  letter-spacing: 0.05rem;
}

#projects .projects {
  padding-bottom: 3.5rem;
  margin-bottom: 3.5rem;
}

#projects .projects p {
  line-height: 1.1rem;
}

#projects .projects .project {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s;
  transition: width .6s;
}

#projects .projects .project img {
  height: 100%;
  -webkit-transition: -webkit-filter .4s, -webkit-transform .8s;
  transition: -webkit-filter .4s, -webkit-transform .8s;
  transition: filter .4s, transform .8s;
  transition: filter .4s, transform .8s, -webkit-filter .4s, -webkit-transform .8s;
  /* 2nd Version*/
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

#projects .projects .project img:hover {
  /* filter: grayscale(80%);
                    filter: brightness(.2);*/
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.features {
  color: white;
  background-image: radial-gradient(circle farthest-corner at 71.6% 21.7%, rgba(43, 43, 43, 0.98) 0%, rgba(0, 0, 0, 0.95) 100.2%), url("../img/texture2.jpg");
  background-size: cover;
}

.features .icon-box {
  min-width: 5rem;
}

.features .icon-box i {
  color: #8f8f8f;
  font-size: 2.5rem;
}

.features h5 {
  font-family: "DM Serif Display", serif !important;
  letter-spacing: 0.05rem;
}

.features p {
  font-weight: 200;
  font-size: .9rem;
  color: #8f8f8f;
}

.circle-icon-nb {
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  -webkit-transition: .5s;
  transition: .5s;
  border: 0.1rem solid #151515;
  background: #151515;
  color: white;
}

.circle-icon-nb:hover {
  color: #151515;
  background: transparent;
}

footer p {
  font-size: 0.75rem;
  color: #8f8f8f;
}

footer p span {
  color: #151515;
}

/* MEDIA QUERIES */
@media (max-width: 575.98px) {
  .fixed-background {
    padding: 1rem;
  }
  .fixed-background h1 {
    font-size: 1.6rem !important;
  }
  .fixed-background p {
    font-size: 0.6rem !important;
  }
  #projects h1 {
    font-size: 1.8rem !important;
  }
  #projects p {
    font-size: 0.7rem !important;
  }
  .features .icon-box {
    display: none;
    min-width: 5rem;
  }
  .features .icon-box i {
    font-size: 1.5rem;
  }
  .features p {
    font-size: .9rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767.98px) {
  .navbar .container .navbar-brand {
    padding: 0 !important;
  }
  .navbar .container .navbar-brand img {
    width: 4rem;
    margin-left: 0 !important;
  }
  .navbar .container .navbar-brand img:nth-child(1) {
    display: none;
  }
  .navbar .container .navbar-brand img:nth-child(2) {
    padding-bottom: .5rem;
  }
  .info {
    width: 20rem;
    top: 40% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -40%) !important;
            transform: translate(-50%, -40%) !important;
    text-align: center;
  }
  .info h1 {
    font-size: 1.75rem !important;
  }
  .info p {
    font-weight: 200;
    font-size: 0.75rem !important;
  }
  .info .btn-outline-light {
    display: none;
  }
  .fixed-background h1 {
    font-size: 2.3rem;
  }
  .fixed-background p {
    font-size: .8rem;
  }
  .steps {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #projects h1 {
    font-family: "DM Serif Display", serif !important;
    letter-spacing: 0.05rem;
  }
  #projects .projects {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #projects .projects .project {
    width: 100%;
    height: 20vw;
  }
  #projects .projects .project img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  #projects .projects .project img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-filter: brightness(1);
            filter: brightness(1);
    -webkit-transform: translateY(-45%) scale(1.25);
            transform: translateY(-45%) scale(1.25);
  }
  #projects .projects .project:hover {
    width: 100%;
  }
  .features {
    margin-top: 0 !important;
  }
}

@media (max-width: 991.98px) {
  .info {
    top: 35%;
    left: 35%;
    -webkit-transform: translate(-35%, -35%);
            transform: translate(-35%, -35%);
    width: 25rem;
  }
  .info h1 {
    font-size: 2.5rem;
  }
  .info p {
    font-size: .9rem;
    font-weight: 200;
    margin-bottom: 0 !important;
  }
  .info .btn-outline-light {
    font-size: .3rem;
    padding: .5rem 1.25rem;
    letter-spacing: .1rem;
  }
  .info .btn-outline-light span {
    display: none;
  }
  .features {
    margin-top: 0px !important;
  }
  .features .container {
    padding: 3.5rem;
  }
  .features .container .row {
    margin: 0 !important;
  }
  .features .container .border-top {
    display: none;
  }
  .navbar {
    width: 100% !important;
    background-color: red;
  }
  .navbar .container {
    max-width: 100vw !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 1199.98px) {
  ol.carousel-indicators {
    padding-bottom: 1rem;
  }
  ol.carousel-indicators li {
    height: .5rem;
    width: .5rem;
  }
  .control {
    height: 4rem;
    width: 8rem;
  }
  .control a {
    font-size: 1.5rem;
  }
  .control a .control-block-left {
    height: 4rem;
    width: 4rem;
    padding-top: .1rem;
  }
  .control a .control-block-right {
    height: 4rem;
    width: 4rem;
    padding-top: .1rem;
  }
}
/*# sourceMappingURL=style.css.map */